# 더미변수
- 명목형 변수에 대한 표주화 처리 방법
- 보고서 작성 시 더미변수를 `통제 요인` 혹은 `통제 변수`라고 표기
- `patsy`패키지 설치 필요

In [1]:
from pandas import read_excel
from patsy import dmatrix

In [4]:
df = read_excel('https://data.hossam.kr/C02/dum.xlsx')
df

    성별 비만도
0   남자  정상
1   여자  경도
2   여자  정상
3   남자  고도
4   남자  정상
5   남자  경도
6   남자  고도
7   여자  고도
8   여자  경도
9   남자  고도
10  여자  정상
11  여자  정상
12  여자  정상
13  남자  정상
14  여자  고도
15  여자  경도
16  남자  고도
17  여자  경도
18  여자  정상
19  여자  경도