# 파일 데이터 불러오기
- 한글 깨질 경우:
    - 파라미터로 `encoding='인코딩명'` 주면 됨
        - 인코딩명: utf-8 또는 euc-kr 또는 cp949
## 1. 엑셀 파일 Excel

In [1]:
# 패키지 참조
from pandas import read_excel

# 엑셀 파일 불러오기
origin = read_excel('/Users/dayoonz/Documents/8 데이터분석/프로젝트4_아동학대/데이터/어린이집선택이유_2012-2018_원본.xlsx')
origin.info()
origin

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 64 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   영유아 및 연령별(1)  3 non-null      object
 1   영유아 및 연령별(2)  9 non-null      object
 2   2012          9 non-null      object
 3   2012.1        9 non-null      object
 4   2012.2        9 non-null      object
 5   2012.3        9 non-null      object
 6   2012.4        9 non-null      object
 7   2012.5        9 non-null      object
 8   2012.6        9 non-null      object
 9   2012.7        9 non-null      object
 10  2012.8        9 non-null      object
 11  2012.9        9 non-null      object
 12  2012.10       9 non-null      object
 13  2012.11       9 non-null      object
 14  2012.12       9 non-null      object
 15  2012.13       9 non-null      object
 16  2012.14       9 non-null      object
 17  2012.15       9 non-null      object
 18  2012.16       9 non-null      object
 19  2012.17       9 non-null      object
 20  2012.18       9 non-null      object
 21  2012.19       9 non-null      object
 22  2015          9 non-null      object
 23  2015.1        9 non-null      object
 24  2015.2        9 non-null      object
 25  2015.3        9 non-null      object
 26  2015.4        9 non-null      object
 27  2015.5        9 non-null      object
 28  2015.6        9 non-null      object
 29  2015.7        9 non-null      object
 30  2015.8        9 non-null      object
 31  2015.9        9 non-null      object
 32  2015.10       9 non-null      object
 33  2015.11       9 non-null      object
 34  2015.12       9 non-null      object
 35  2015.13       9 non-null      object
 36  2015.14       9 non-null      object
 37  2015.15       9 non-null      object
 38  2015.16       9 non-null      object
 39  2015.17       9 non-null      object
 40  2015.18       9 non-null      object
 41  2015.19       9 non-null      object
 42  2015.20       9 non-null      object
 43  2018          9 non-null      object
 44  2018.1        9 non-null      object
 45  2018.2        9 non-null      object
 46  2018.3        9 non-null      object
 47  2018.4        9 non-null      object
 48  2018.5        9 non-null      object
 49  2018.6        9 non-null      object
 50  2018.7        9 non-null      object
 51  2018.8        9 non-null      object
 52  2018.9        9 non-null      object
 53  2018.10       9 non-null      object
 54  2018.11       9 non-null      object
 55  2018.12       9 non-null      object
 56  2018.13       9 non-null      object
 57  2018.14       9 non-null      object
 58  2018.15       9 non-null      object
 59  2018.16       9 non-null      object
 60  2018.17       9 non-null      object
 61  2018.18       9 non-null      object
 62  2018.19       9 non-null      object
 63  2018.20       9 non-null      object
dtypes: object(64)
memory usage: 4.6+ KB

/Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,영유아 및 연령별(1),영유아 및 연령별(2),2012,2012.1,2012.2,2012.3,2012.4,2012.5,2012.6,2012.7,...,2018.11,2018.12,2018.13,2018.14,2018.15,2018.16,2018.17,2018.18,2018.19,2018.20
0,영유아 및 연령별(1),영유아 및 연령별(2),응답자 수 (명),원장 (%),교사 (%),운영시간 (%),비용 (%),프로그램 (%),건강·영양 (%),기관 학급 규모 (%),...,기관설비 (%),국공립 여부 (%),주변의 평판 (%),주변입지 (%),평가인증 통과 여부 (%),차량 운행 여부 (%),특별프로그램 (%),형제가 다님 (%),공공형어린이집여부 (%),기타 (%)
1,영유아구분,영아,867,11.8,7.9,2.5,1.7,8.7,2.1,0.7,...,2.4,4.4,13.6,1.3,1,0.6,0,2.9,0.4,1.3
2,NaN,유아,669,7.9,7.9,3.6,4.3,20.3,4,1,...,2.4,8.7,11.6,1.7,0.9,0.5,0.2,2.4,0.6,0.3
3,연령,0세,125,17.3,10.6,3.8,0,1.9,3.8,0,...,-,-,-,-,-,-,-,-,-,-
4,NaN,1세,345,12.8,8.2,3.6,0.7,5.6,1.6,1,...,-,-,-,-,-,-,-,-,-,-
5,NaN,2세,397,9.3,6.8,1.5,3,12.6,2.3,0.5,...,-,-,-,-,-,-,-,-,-,-
6,NaN,3세,298,8.1,5.3,4.6,2.5,19.4,7,1.4,...,-,-,-,-,-,-,-,-,-,-
7,NaN,4세,227,8.7,10.5,2.7,7.8,12.8,2.7,0.5,...,-,-,-,-,-,-,-,-,-,-
8,NaN,5세,144,6.6,9.1,3.6,3,29.9,1,1,...,-,-,-,-,-,-,-,-,-,-

## 2. csv 파일
- encoding 맞춰줬을 때에도 에러가 난다면:
    - 에러 메세지: `ParserError: Error tokenizing data. C error: Buffer overflow caught - possible malformed input file.`
    - lineterminator='\n' 파라미터 추가

In [4]:
# 패키지 참조
from pandas import read_csv

# 파일 불러오기
origin2 = read_csv('/Users/dayoonz/Documents/8 데이터분석/프로젝트4_아동학대/데이터/공동주택현황_울산남구_20230825_원본.csv',
                   encoding='cp949')
print(origin2.info())
origin2.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1136 entries, 0 to 1135
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   번호      1135 non-null   float64
 1   공동주택명   920 non-null    object
 2    세대수    1135 non-null   float64
 3    동수     1133 non-null   float64
 4   준공연도    1135 non-null   object
 5   도로명주소   1135 non-null   object
 6   지번주소    1135 non-null   object
dtypes: float64(3), object(4)
memory usage: 62.2+ KB
None

,번호,공동주택명,세대수,동수,준공연도,도로명주소,지번주소
0,1.0,태화연립,24.0,2.0,1977-05-21,울산광역시 남구 돋질로 81번길 10,울산광역시 남구 신정 3동 587-4
1,2.0,동화아파트,30.0,1.0,1977-12-19,울산광역시 남구봉월로 50번길 46,울산광역시 남구 신정 1동 700-1
2,3.0,월봉아파트,24.0,2.0,1977-12-26,울산광역시 남구이휴정길 14,울산광역시 남구 신정 1동 1412-2
3,4.0,NaN,4.0,1.0,1978-01-12,울산광역시 남구돋질로7번길 4,울산광역시 남구 신정동 1155-11
4,5.0,남산아파트 2동,12.0,1.0,1978-01-16,울산광역시 남구남산로324번길 16,울산광역시 남구 신정 1동 1401-4

In [2]:
# 패키지 참조
from pandas import read_csv

# 파일 불러오기
토지이용 = read_csv('/Users/dayoonz/Documents/8 데이터분석/프로젝트4_아동학대/데이터/AL_31_D537_20230528.csv',
                  encoding = 'cp949',
                  lineterminator='\n')
print(토지이용.info())
토지이용.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31933 entries, 0 to 31932
Data columns (total 13 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   용도지역지구    31933 non-null  object
 1   용도지역지구명   31933 non-null  object
 2   소관기관      31933 non-null  int64
 3   소관기관명     31933 non-null  object
 4   시행일자      31933 non-null  int64
 5   행위제한명세    20402 non-null  object
 6   토지이용코드    31933 non-null  int64
 7   토지이용코드명   31933 non-null  object
 8   정의및참조사항   20158 non-null  object
 9   참조_법률조항1  31733 non-null  object
 10  참조_법률조항2  148 non-null    object
 11  참조_법률조항3  36 non-null     object
    31932 non-null  object
dtypes: int64(3), object(10)
memory usage: 3.2+ MB
None

,용도지역지구,용도지역지구명,소관기관,소관기관명,시행일자,행위제한명세,토지이용코드,토지이용코드명,정의및참조사항,참조_법률조항1,참조_법률조항2,참조_법률조항3,참조_기타\r
0,ZG0002,위락시설제한지구,31000,울산광역시,20060501,NaN,193,공장,물품의 제조ㆍ가공[염색ㆍ도장(塗裝)ㆍ표백ㆍ재봉ㆍ건조ㆍ인쇄 등을 포함한다] 또는 수리...,17. 공장\r 물품의 제조·가공[염색·도장(塗裝)·표백·재봉·건조·인쇄 등을 ...,NaN,NaN,공장|금은세공업 공장|기록매체복제업공장|도정공장|두부제조업공장|레미콘공장|봉제업(의...
1,ZG0003,위험물저장및처리시설제한지구,31000,울산광역시,20060501,NaN,193,공장,물품의 제조ㆍ가공[염색ㆍ도장(塗裝)ㆍ표백ㆍ재봉ㆍ건조ㆍ인쇄 등을 포함한다] 또는 수리...,17. 공장\r 물품의 제조·가공[염색·도장(塗裝)·표백·재봉·건조·인쇄 등을 ...,NaN,NaN,공장|금은세공업 공장|기록매체복제업공장|도정공장|두부제조업공장|레미콘공장|봉제업(의...
2,UQG120,역사문화미관지구,31000,울산광역시,20060501,NaN,193,공장,물품의 제조ㆍ가공[염색ㆍ도장(塗裝)ㆍ표백ㆍ재봉ㆍ건조ㆍ인쇄 등을 포함한다] 또는 수리...,17. 공장\r 물품의 제조·가공[염색·도장(塗裝)·표백·재봉·건조·인쇄 등을 ...,NaN,NaN,공장|금은세공업 공장|기록매체복제업공장|도정공장|두부제조업공장|레미콘공장|봉제업(의...
3,UQG120,역사문화미관지구,31000,울산광역시,20060501,NaN,193,공장,물품의 제조ㆍ가공[염색ㆍ도장(塗裝)ㆍ표백ㆍ재봉ㆍ건조ㆍ인쇄 등을 포함한다] 또는 수리...,17. 공장\r 물품의 제조·가공[염색·도장(塗裝)·표백·재봉·건조·인쇄 등을 ...,NaN,NaN,공장|금은세공업 공장|기록매체복제업공장|도정공장|두부제조업공장|레미콘공장|봉제업(의...
4,UQG130,일반미관지구,31000,울산광역시,20060501,NaN,193,공장,물품의 제조ㆍ가공[염색ㆍ도장(塗裝)ㆍ표백ㆍ재봉ㆍ건조ㆍ인쇄 등을 포함한다] 또는 수리...,17. 공장\r 물품의 제조·가공[염색·도장(塗裝)·표백·재봉·건조·인쇄 등을 ...,NaN,NaN,공장|금은세공업 공장|기록매체복제업공장|도정공장|두부제조업공장|레미콘공장|봉제업(의...

## 3. SPSS 파일 (*.sav)

In [8]:
# 패키지 참조
from pandas import read_spss

# 데이터 불러오기
origin3 = read_spss('/Users/dayoonz/Documents/8 데이터분석/프로젝트3_양육복지와가족관계만족도/결합데이터(1-17차)_spss/koweps_h01_17_long_230407.sav')
origin3.head()

,h_merkey,year,wv,wv_num,first_wv,last_wv,h_ws,h_wg,h_ws_all,h_wg_all,...,h13_9,h13_13,h13_17,h13_21,h13_25,h13_29,h13_33,h13_37,h13_41,release_date
0,10101.0,2005.0,1.0,8.0,1.0,13.0,0.362887,815.219792,NaN,NaN,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,230407.0
1,10101.0,2011.0,7.0,8.0,1.0,13.0,0.253686,769.749989,0.340156,810.678070,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,230407.0
2,10101.0,2012.0,8.0,8.0,1.0,13.0,0.485991,1567.080473,0.488716,1210.996500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,230407.0
3,10101.0,2013.0,9.0,8.0,1.0,13.0,0.487753,1649.326629,0.474889,1239.002359,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,230407.0
4,10101.0,2014.0,10.0,8.0,1.0,13.0,0.487315,1706.010843,0.467776,1265.510373,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,230407.0

## 4. SAV 파일 (*.sav)
- `pyreadstat` pip 패키지 설치 필요
    - `pip3 install --upgrade pyreadstat` 라고 터미널에 입력하여 다운로드

In [7]:
# 패키지 참조
from pyreadstat import read_sav

# 데이터 불러오기
origin4, meta = read_sav('/Users/dayoonz/Documents/8 데이터분석/프로젝트3_양육복지와가족관계만족도/결합데이터(1-17차)_spss/koweps_h01_17_long_230407.sav',
                          encoding = 'utf-8')
origin4.head()

,h_merkey,year,wv,wv_num,first_wv,last_wv,h_ws,h_wg,h_ws_all,h_wg_all,...,h13_9,h13_13,h13_17,h13_21,h13_25,h13_29,h13_33,h13_37,h13_41,release_date
0,10101.0,2005.0,1.0,8.0,1.0,13.0,0.362887,815.219792,NaN,NaN,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,230407.0
1,10101.0,2011.0,7.0,8.0,1.0,13.0,0.253686,769.749989,0.340156,810.678070,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,230407.0
2,10101.0,2012.0,8.0,8.0,1.0,13.0,0.485991,1567.080473,0.488716,1210.996500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,230407.0
3,10101.0,2013.0,9.0,8.0,1.0,13.0,0.487753,1649.326629,0.474889,1239.002359,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,230407.0
4,10101.0,2014.0,10.0,8.0,1.0,13.0,0.487315,1706.010843,0.467776,1265.510373,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,230407.0

## 5. hwp 파일 (*.hwp)
- `olefile` 패키지 설치 필요
    - `pip3 install --upgrade olefile` 라고 터미널에 입력하여 다운로드

In [1]:
import olefile 
f = olefile.OleFileIO('/Users/dayoonz/Documents/8 데이터분석/프로젝트4_아동학대/데이터/datasetDetail.hwp') # HWP 파일 열기
encoded_text = f.openstream('PrvText').read() # PrvText 스트림의 내용 꺼내기
decoded_text = encoded_text.decode('UTF-16') # 유니코드를 UTF-16으로 디코딩
print(decoded_text)

                  국가정보자원 개방·공유체계 구축
      공간정보_컬럼정의서



개정이력

<버전><변경일><변경사유><변경내용><작성자><승인>
<0.9><2016-07-20><최초작성><최초 작성><><>
<><><><><><>
<><><><><><>
<><><><><><>
<><><><><><>
<><><><><><>
<><><><><><>
<><><><><><>
<><><><><><>
<><><><><><>
<><><><><><>
<><><><><><>
<><><><><><>
<><><><><><>
<><><><><><>
<><><><><><>
<><><><><><>
<><><><><><>
<><><><><><>
<><><><><><>
<><><><><><>
<><><><><><>

목     차
1. 서비스 명세 1
1.1. 개별공시지가정보서비스 1
1.2. 표준지공시지가정보서비스 3
1.3. 토지이용계획정보서비스 6
1.4. 도서정보서비스 7
1.5. 토지소유정보서비스  9
1.6. 부동산개발업정보서비스  11
1.7. 부동산중개업정보서비스  13
1.8. GIS건물통합정보조회서비스 15
1.9. 법정구역정보조회서비스  17
1.10. 연속지적도형정보조회서비스  18
1.11. 용도지역지구정보조회조회서비스  19
1.12. 지적도근점정보조회서비스  26
1.13. 지적삼각보조점정보조회서비스  27
1.14. 지적삼각점정보조회서비스  28
1.15. GIS건물일반정보서비스 29
1.16. GIS건물집합정보서비스  33
1.17. 공동주택가격정보서비스  37
1.18. 개별주택가격정보서비스 40
1.19. 토지특성도형정보서비스 42
1.20. 건축물연령도형정보서비스 44
1.21. 용도별건물도형정보서비스 46
1.22. 지가변동률도형정보서비스 48
  1.22.1. 지역별지가변동률도형정보 48
  1.22.2. 용도지역별지가변동률도형정보 49
  1.22.3. 이용